@tailwind base;
@tailwind components;
@tailwind utilities;

#city-results {
  max-height: 200px;
   
  overflow: auto;
  padding-left: 5px;
}
#city-results::-webkit-scrollbar {
  width: 7px;
}
.lis {
  color: rgb(200, 206, 211);
  list-style: none;
  cursor: pointer;
  background-color: #383232;
  width: 210px;
  padding: 6px;
}

.lis:hover {
  background-color: #383232c2;
}
